$max-container-width: 1135px;
$max-container-width-desktop-bg: 1135px;

$sidebar-width: 120px;

$desktop-break: 1367px;
$tablet-break: 1024px;
$mobile-break: 768px;

:root {
  --max-container-width: #{$max-container-width};
}

@mixin max-width-container($margin-top: 0, $margin-bottom: 0) {
  margin: $margin-top auto $margin-bottom;
  max-width: var(--max-container-width);
  width: 100%;
}

@media screen and (min-width: $desktop-break) {
  :root {
    --max-container-width: #{$max-container-width-desktop-bg};
  }
}
